.footer {
    display: flex;
    border-top: 1px solid lightgray;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    justify-content: center;
    margin-top: 1.2%;
    background-color: #f5f6fa;

}